body {
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

* {
  font-family: liberation sans;
}

div, h1, h2, h3, h4, p, li {
  max-width: 50vw;
}

div {
  margin: auto;
}

h1, h2, h3, h4, li {
  color: #000000;
  text-align: left;
  margin: 25px auto;
  font-size: 24px;
}

p {
  color: #000000;
  text-align: left;
  margin: auto;
  font-size: 14px;
}

p.paper {
  margin: 25px auto;
}

/*a {
  color: #304ffe;
}*/

h1 {
  font-size: 32px;
}

.ext {
  display: inline;
  text-align: center;
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-align: center;
}

h2 {
  margin: 15px auto;
}

h3 {
  font-size: 18px;
  margin: 5px auto;
}

h4 {
  font-size: 16px;
  margin: 5px auto;
}

p, li {
  font-size: 14px;
}

#aboutme {
  display: flex;
  margin: auto;
  grid-gap: 1rem;
  align-items: center;
  overflow: auto;
}

.headerdiv {
  /*border: 2px solid #bbbbbb;*/
  background-color: #eeeeee;
  max-width: 100vw;
}

.headerdivinner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  text-align: center;
}

a.headerlink {
  appearance: button;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.circ-port {
  height: auto;
  max-width: 180px;
  overflow: hidden;
  border-radius: 10px;
}

#namediv {
  text-align: center;
}

#nametitle {
  margin-bottom: 0px;
  display: inline;
}

#mainimage {
  align: left;
  float: left;
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: 7px;
}

.circ-port img {
  width: 100%;
  display: inline;
  height: auto;
  align: left;
}

img.main {
  width: 100%;
  height: auto;
  display: block;
}

img.paper {
  margin-right: auto;
  max-height: 10vw;
  padding-bottom: 10px;
  padding-top: 10px;
}

a.paper {
  font-size: 18px;
}

.overlay {
  text-align: center;
  /*position: absolute;
  top: 120px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 1; */
}

#simcell {
  vertical-align: top;
}

.testbut {
  width: 200px;
}

#homebut {
  margin-bottom: 10px;
}

#title {
  top: 10px;
  font-family: helvetica neue;
  font-size: 48px;
}

#info2 {
  top: 80px;
  font-family: helvetica neue;
  font-size: 24px;
}

#info1 {
  top: 80px;
  font-family: helvetica neue;
  font-size: 24px;
}

#speed {
  top: 150px;
  font-family: helvetica neue;
  font-size: 24px;
}

.videos2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: auto;
  max-width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.videoitem {
  margin-left: 2px;
  margin-right: 2px;
}

.roterrorvideo {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1280px) {
  div, h1, h2, h3, h4, p, li {
    max-width: 94vw;
  }
  .videos2 {
    max-width: 94vw;
    flex-direction: column;
  }
  #aboutme {
    display: block;
  }
  #mainimage {
    margin-top: 0px;
    margin-right: 10px;
    max-width: 120px;
  }
  #nameicons {
    display: inline;
  }
  #namediv {
    padding-top: 4px;
    padding-bottom: 7px;
  }
  #nametitle {
    margin-right: 5px;
  }
}
