body {
  background-color: white;
}

h1, h2, p, li {
  color: #000000;
  max-width: 60vw;
  text-align: left;
  margin:25px auto;
  font-family: helvetica neue;
  font-size: 24px;
}

.ext {
  margin-top: 20px;
  display: block;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

p, li {
  font-size: 14px;
  margin: 0px auto;
}

.circ-port {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circ-port img {
  width: 100%;
  height: auto;
}

img.paper {
  margin-right: auto;
  max-height: 10vw;
  padding-bottom: 10px;
  padding-top: 10px;
}

a.paper {
  font-size: 18px;
}

.overlay {
  position: absolute;
  top: 120px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 1; /* TODO Solve this in HTML */
}

#title {
  top: 10px;
  font-family: helvetica neue;
  font-size: 48px;
}

#info2 {
  top: 80px;
  font-family: helvetica neue;
  font-size: 24px;
}

#speed {
  top: 150px;
  font-family: helvetica neue;
  font-size: 24px;
}
